@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
      html{
        max-width: 100vw;
        max-height: 100vh;
        box-sizing: border-box;
      }

      .inputbox{
        position: relative;
        left: 45%;
      }
        body{
          font-family: Poppins;
    background-color: #e0f2fe;
        }


.relative {
    position: relative;
    right: 34%;
}
.addbtn{
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 10px;
  padding-bottom: 10px;
  
}
#checkbox:hover{
cursor: pointer;
}

.inputfield{
 height: 50px;
 width: 60%;
 margin-left: 12%;
}




@media only screen and (max-width: 600px) {
  
  .inputfield{

    height: 45px;
    width: 75%;
    margin-left: -7%;
   }

   .addbtn{
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    
  }

}
